

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4">
    <form [formGroup]="logInForm" (ngSubmit)="adminLogin()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input pInputText id="email" type="text" class="form-control custom-input" formControlName="email" style="background-color: white;" placeholder="Enter your email"/>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <p-password
          class="w-full custom-input"
          [feedback]="false"
          placeholder="Password"
          styleClass="p-password p-component p-inputwrapper p-input-icon-right"
          [style]="{ 'width': '100%' }"
          [inputStyle]="{ 'width': '100%' }"
          [toggleMask]="true"
          id="password"
          formControlName="password"
        ></p-password>
      </div>
      <div class="d-flex mt-3 mb-4" style="cursor: pointer;">
        <a class="forgot-password-link" routerLink="/verify-email">Forgot Password</a>
      </div>
      <button type="submit" class="btn btn-primary w-100">Log In</button>
    </form>
  </div>
</div>




<p-toast></p-toast>
