// /* Add custom styles to center the form */
// body, html {
//     height: 100%;
//   }

//   .container {
//     background-color: #f9f9f9;

//     height: 100vh;
//   }

//   .card {
//     max-width: 500px;
    
//     width: 90%;
//     margin: auto;
//   }

//   .container {
//     border: 1px solid black; /* Add border with black color */
   
//     padding: 20px; /* Add some padding to the container */
//     background-color: #222; /* Add dark black background color */
//     color: white; /* Set text color to white */
//   }
  
//   .card {
//     border: 1px solid black; /* Add border with black color to cards */
//     border-radius: 10px; /* Add rounded corners to cards */
//     background-color: #333; /* Add dark black background color to cards */
//     color: white; /* Set text color to white */
//   }
  

/* Center the form vertically and horizontally */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ody, html {
    height: 100%;
  }

  .container {
    background-color: #f9f9f9;

    height: 100vh;
  }

  .card {
    max-width: 500px;
    
    width: 90%;
    margin: auto;
  }

  .container {
    border: 1px solid black; /* Add border with black color */
   
    padding: 20px; /* Add some padding to the container */
    background-color: #222; /* Add dark black background color */
    color: white; /* Set text color to white */
  }
  
  .card {
    border: 1px solid black; /* Add border with black color to cards */
    border-radius: 10px; /* Add rounded corners to cards */
    background-color: #333; /* Add dark black background color to cards */
    color: white; /* Set text color to white */
  }


  /* styles.css or your custom styles file */
.custom-password .p-password {
    width: 100%;
  }
  

  .custom-input {
    height: 50px; /* Set the desired height for the input fields */
  }
