.sidebar {
    margin-top: 20px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item.active {
    background-color: #f0f0f0;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-info {
    display: flex;
  }
  
  .details {
    margin-left: 20px;
  }
  