
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-warning m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
                <a  class="nav-item nav-link" routerLink="/">About</a>
                <a  class="nav-item nav-link" routerLink="/">Service</a>
                <a  class="nav-item nav-link" routerLink="/">Menu</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a  class="dropdown-item">Booking</a>
                        <a  class="dropdown-item">Our Team</a>
                        <!-- <a href="testimonial.html" class="dropdown-item">Testimonial</a> -->
                    </div>
                </div>
                <a routerLink="/contact" class="nav-item nav-link">Contact</a>
            </div>
            
            <a  class="btn btn-warning py-2 px-4" (click)="showLogInDialog()">Log In</a>

            <a  class="btn btn-warning py-2 px-4 " (click)="showSignUpDialog()">Sign Up</a>

        </div>
    </nav>
</div>
    <div class="popup-overlay" [ngClass]="{'show': logInVisible}">
        <p-dialog header="Log In" [(visible)]="logInVisible" [style]="{width: '50vw'}" >
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="p-fluid">
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                      <label for="email" class="form-label">E-Mail Id</label>
                      <input type="email" id="email" class="form-control form-control-lg" formControlName="email" />
                      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">Invalid email address</div>
                    </div>
                    
                    <div class="form-group">
                      <label for="password" class="form-label fs-5 font-weight-bold">Password</label>
                      <p-password [(ngModel)]="register.password" formControlName="password" [feedback]="false"></p-password>
                    </div>
                    
                    <div class="mb-3"></div>
                    
                    <p-footer>
                      <p-button label="Log In" styleClass="p-button-warning" type="submit"></p-button>
                    </p-footer>
                  </form>
                </div>
              </div>
              
        </p-dialog>
        
    </div>

<!-- SIGN UP -->
<div class="popup-overlay" [ngClass]="{'show': signUpVisible}">
    <p-dialog header="Sign Up" [(visible)]="signUpVisible" [style]="{width: '50vw'}">
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="p-fluid">
            <div class="form-group">
              <label for="username" class="form-label p-text-bolder">Name</label>
              <input pInputText id="username" type="text" formControlName="username" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="email" class="form-label">E-Mail Id</label>
              <input type="email" id="email" formControlName="mailId" class="form-control form-control-lg" />
              <div *ngIf="registerForm.get('mailId')?.invalid && registerForm.get('mailId')?.touched" class="text-danger">Invalid email address</div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="p-fluid">
            <div class="form-group">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="form-control form-control-lg" maxlength="10" inputmode="numeric" />
            </div>
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <p-password pPassword formControlName="password" [toggleMask]="true" class="form-control form-control-lg"></p-password>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <p-password pPassword formControlName="confirmPassword" [toggleMask]="true" [feedback]="false" class="form-control form-control-lg"></p-password>
              <div *ngIf="passwordsMismatch" class="text-danger">Passwords do not match</div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="p-fluid">
            <div class="mb-3"></div>
            <p-footer>
              <button type="submit" class="btn btn-warning py-2 px-4" [disabled]="registerForm.invalid">Sign Up</button>
            </p-footer>
          </div>
        </div>
      </form>
    </p-dialog>
  </div>
  
  