<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card p-4 shadow-lg border border-dark rounded">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="p-fluid">
              <div class="form-group">
                <label for="email">Admin E-mail</label>
                <input pInputText id="email" type="text" class="form-control" [readOnly]="true" formControlName="email" [value]="email" />
              </div>
              <div class="d-flex justify-content-center mt-3">
                <p-button label="Generate OTP" icon="pi pi-user-plus" styleClass="p-button-success" [disabled]="!isButtonDisabled" (onClick)="generateOtp()"></p-button>
              </div>
            <div *ngIf = "showOtpInput" class="mt-3">
              <div  class="form-group">
                <ng-otp-input [config]="{ length: 4 }"></ng-otp-input>
              </div>
              <div class="d-flex justify-content-center mt-3">
                <p-button label="Confirm" icon="pi pi-user-plus" styleClass="p-button-success" [disabled] (onClick)="confirmOTP()"></p-button>
              </div>
            </div>
              <div *ngIf="showTimer" class="text-center mt-2">
                Time remaining: {{ remainingTime }} seconds
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <p-toast #toast position="top-right" [style]="{ 'margin-top': '16px' }"></p-toast>
  </div>
  