
<div class="main-wrapper" style="background-color: whitesmoke">
<div>
    <app-navbar></app-navbar>
</div>
<div class="final-container">
    <div class="container-xxl py-5  hero-header mb-5">
        <div class="container text-center my-5 pt-1 pb-1">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Reserve Table</h1>
           
        </div>
    </div>
    
</div>


<!-- Calls The Reservation From -->
<!-- body -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <p-sidebar [(visible)]="sidebarVisible">
            <h3>Information</h3>
            <p class="m-0">
                <ul>
                  <li>Our restaurant opens at 10:00 AM and closes at 4:00 PM.</li>
                  <li>Booking slots are available from 10:00 AM to 3:30 PM.</li>
                </ul>
          
        </p-sidebar>
    </div>
        <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
      
        <!-- Reservation Form -->
        <app-reservation-form></app-reservation-form>

      
    </div>
  </div>
  

</div>



