
<div class="main-wrapper" style="background-color: whitesmoke">
<div>
    <app-navbar></app-navbar>
</div>
<div class="final-container">
    <div class="container-xxl py-5  hero-header mb-5">
        <div class="container text-center my-5 pt-1 pb-1">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Reserve Table</h1>
        </div>
    </div>
</div>


<!-- Calls The Reservation From -->
<!-- body -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <p-sidebar [(visible)]="sidebarVisible">
            <h2>Information</h2>
            <p class="m-0">
                <ul>
                  <li>Our restaurant opens at <b>10:00 AM </b>and closes at <b>4:00 PM.</b></li>
                  <li>Booking slots are available from <b>10:00 AM </b>to <b>3:30 PM.</b></li>
                </ul>
          
        </p-sidebar>
    </div>
        <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right" label="Information" styleClass="p-button-warning"></p-button>
      
        <!-- Reservation Form -->
        <app-reservation-form></app-reservation-form>

      
    </div>
  </div>
  

</div>



