


    
<div class="container">
    <div class="row">
      
      <div class="col-lg-3">
        <div class="sidebar">
          <h1 class="sidebar-title">Profile</h1>
          <div class="list-group">
            <a class="list-group-item" (click)="activeItem = 'profile'" [ngClass]="{ 'active': activeItem === 'profile' }">My Details</a>
            <a class="list-group-item" (click)="activeItem = 'orders'" [ngClass]="{ 'active': activeItem === 'orders' }">My Orders</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-9">
        <div class="d-flex justify-content-end mt-3">
          <!-- Use Bootstrap classes for styling the buttons -->
          <div class="flex justify-content-center">
            <button type="button" class="btn btn-warning custom-button" routerLink="/home">Home</button>
          </div>
          <div class="flex justify-content-center ml-3">
            <button type="button" class="btn btn-warning custom-button" (click)="logOut()" >Log Out</button>
          </div>
        </div>
        <div  *ngIf="activeItem === 'profile'">
          <div >
            <h2>My Profile</h2>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="profile-info">
                <img src="https://restoran.blob.core.windows.net/restoran/profile.jpg" alt="Profile Image" class="profile-image">
                <div class="details mt-5">
                  <div class="row">
                    <div class="col-4"><strong>Name:</strong></div>
                    <div class="col-8"><strong>{{ userDetails?.name }}</strong></div>
                  </div>
                  <div class="row">
                    <div class="col-4"><strong>Email:</strong></div>
                    <div class="col-8"><strong>{{ userDetails?.email }}</strong></div>
                  </div>
                  <div class="row">
                    <div class="col-4"><strong>Phone Number:</strong></div>
                    <div class="col-8"><strong>{{ userDetails?.phone }}</strong></div>
                  </div>
                  <div class="row">
                    <div class="col-4"><strong>Number of Orders:</strong></div>
                    <div class="col-8"><strong>{{ userDetails?.numberOfOrders }}</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        <div *ngIf="activeItem === 'orders'">
          <div style="background-color: white;">
            <app-my-orders></app-my-orders>
          </div>
        </div>
      </div>


      
    </div>
  </div>


