<body>
    <div class="container-xxl bg-white p-0">
        <app-navbar></app-navbar>


        <body>
            <div class="container-xxl py-5 bg-dark hero-header ">
              <div class="container my-5 py-5">
                  <div class="row align-items-center g-5">
                      <div class="col-lg-6 text-center text-lg-start">
                      <div class="slide-in-left">
                          <h1 class="display-3 text-white animated ">Enjoy Our<br>Delicious Meal</h1>
                          <p class="text-white animated slideInLeft mb-4 pb-2">Discover new flavors and indulge your taste buds at our exquisite restaurant.
                            Experience culinary excellence with our carefully crafted menu and impeccable service.
                            Savor every bite as our talented chefs create mouthwatering dishes that will leave you wanting more.</p>
                          <a  class="btn btn-warning py-sm-3 px-sm-5 me-3 animated slideInLeft" (click)="onBookTableClick()">Book A Table</a>
                      </div>
                    </div>
                      <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                          <img class="img-fluid"  src="https://restoran.blob.core.windows.net/restoran/hero.png" alt="image not found">
                      </div>
                  </div>
              </div>
          </div>
        </body>
      </div>
      <p-toast></p-toast>
</body>
