<!-- <form [formGroup]="reservationForm" >
    <div class="cons">
    <div class="form-group">
      <label>Date:</label>
      <kendo-datepicker formControlName="date"></kendo-datepicker>
    </div>
    <div class="form-group">
      <label>Start Time:</label>
      <kendo-timepicker formControlName="startTime"></kendo-timepicker>
    </div>
    <div class="form-group">
      <label>End Time:</label>
      <kendo-timepicker formControlName="endTime"></kendo-timepicker>
    </div>
    <div class="form-group">
      <label>Number of Guests:</label>
      <kendo-numerictextbox formControlName="numberOfGuests"></kendo-numerictextbox>
    </div>
</div>
    <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
  </form>
   -->


  <!-- <div class="row example-wrapper">
    <div class="col-xs-12 col-md-6 example-col">
      <p>Select a date (Infinite Calendar):</p>
      <kendo-datepicker
        calendarType="infinite"
        [value]="value"
      ></kendo-datepicker>
    </div>
    <div class="col-xs-12 col-md-6 example-col">
      <p>Select a date (Classic Calendar):</p>
      <kendo-datepicker
        calendarType="classic"
        [value]="value"
      ></kendo-datepicker>
    </div>
  </div> -->

 
  <!-- <form [formGroup]="reservationForm"  class="reservation-form bg-warning" >
    <div class="row">
      <div class="col-md-6">
        <div class="mb-5">
          <label for="reservationDate" class="form-label">Reservation Date:</label>
          <input type="date" class="form-control" id="reservationDate" formControlName="reservationDate" required max="{{ maxReservationDate }}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="numberOfGuests" class="form-label">Number of Guests:</label>
          <input type="number" class="form-control" id="numberOfGuests" formControlName="numberOfGuests" required min="1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-5">
          <label for="startTime" class="form-label">Start Time:</label>
          <input class="form-control" type="time" formControlName="startTime" (ngModelChange)="updateEndTime()"
          required min="10:00" max="16:00" step="1800">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="endTime" class="form-label">End Time:</label>
          <input class="form-control" type="time" formControlName="endTime" required min="10:00" max="16:00" step="1800">
          
        </div>
      </div>
    </div>
    ... form fields and button ... 
  <button
  type="submit"
  class="btn btn-primary d-flex justify-content-center"
  [disabled]="reservationForm.invalid"
  (click)="submitReservation()"
>
  Show Available Tables
</button>
<div class="available-tables" *ngIf="showAvailableTables">
  <h2 class="p-text-uppercase p-text-bold p-text-italic p-text-center">
    Available Tables
  </h2>
  <div class="table-container">
    <div class="row p-4">
      <div class="col-md-4 p-4" *ngFor="let table of availableTables">
        <div class="table bg-warning fade-up table-hover">
          <p>Capacity: {{ table.capacity }}</p>
          <p>Table Number: {{ table.tableNumber }}</p>
          <button
            type="button"
            class="btn btn-primary"
            (click)="confirmReservation(table.tableId)"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
    <div class="dialog">
      <app-confirm-dialog></app-confirm-dialog>
    </div>
  </div>
</div>
</form> -->