



  

  .reservation-form {
    max-width: 800px;
    margin: 0 auto;
   
    padding: 20px;
    border-radius: 10px;
  }
  
  .reservation-form label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  